{% extends "default/base.html" %}

{% block extra_styles %}{% endblock %}
{% block extra_scripts %}{% endblock %}

{% block title %}Сокращатель ссылок 3000{% endblock %}

{% block content1 %}
    <section>
        <div class="container">
            <div class="row">
                <div class="content col-12">
                    <p>{{ error }}</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}