{% extends "default/base.html" %}

{% block extra_styles %}{% endblock %}
{% block extra_scripts %}{% endblock %}

{% block title %}Сокращатель ссылок 3000{% endblock %}

{% block content1 %}
    <section>
        <div class="container">
            <div class="row">
                <div class="content col-12">
                    <p>Введите ссылку:</p>
                    <form method="POST" action="{% url 'index' %}">
                        {% csrf_token %}
                        <textarea name="url" id="url" cols="30" rows="10"></textarea>
                        <p class="error"></p>
                        <button type="submit">Сгенерировать</button>
                    </form>
                    <div class="short-url">
                        <p>Ваша ссылка:</p>
                        <p class="result"></p>
                    </div>
                    <p class="tool-tip">Скопировать</p>

                </div>
            </div>
        </div>
    </section>
{% endblock %}