<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% if page %}{{ page.title }}{% endif %}{% endblock %}</title>
        <!-- Fonts -->
        <!-- Bootstrap -->
        <link href="{{ STATIC_URL }}main/css/bootstrap.min.css" rel="stylesheet">
        <!--<link href="{{ STATIC_URL }}main/css/bootstrap-grid.css" rel="stylesheet">-->
        <link href="{{ STATIC_URL }}main/css/font-awesome.css" rel="stylesheet">
        <!--<link href="{{ STATIC_URL }}main/css/bootstrap-reboot.css" rel="stylesheet">-->
        <link href="{{ STATIC_URL }}main/css/reset.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}main/css/main.css" rel="stylesheet">
        {% block extra_styles %}{% endblock %}
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}main/js/jquery-ui.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{{ STATIC_URL }}main/js/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}main/js/bootstrap.bundle.min.js"></script>
        <script src="{{ STATIC_URL }}main/js/main.js"></script>
        {% block extra_scripts %}{% endblock %}
<body>
    <section id="wrapper" class="container">
        {% include 'default/header.html' %}

        {% block content1 %}{% endblock %}
        {% block content2 %}{% endblock %}
        {% block content3 %}{% endblock %}
    </section>

    {% include 'default/footer.html' %}
</body>
</html>