<section id="footer">
    <div class="container">
        <div class="row">
            <div class="footer col-12">
                <h1>Подвал</h1>
            </div>
        </div>
    </div>
</section>