<section id="header">
    <div class="container">
        <div class="row">
            <div class="header col-12">
                <h1>Сокращатель ссылок 3000</h1>
            </div>
        </div>
    </div>
</section>
