/* BASE STYLES */
textarea {
    resize: none;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #e2534b;
    outline: none;
    height: 200px;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

p {
    font-size: 26px;
    margin: 10px 0;
}

p.error {
    color: red;
}

button {
    display: block;
    margin: 10px auto;
    padding: 7px 10px;
    background-color: #e2534b;
    border: none;
    border-radius: 12px;
    color: #fff;
    outline: none;
}

button:focus {
    outline: none;
}

button:hover {
    opacity: .85;
    -webkit-transition: opacity .3s ease-out;
       -moz-transition: opacity .3s ease-out;
         -o-transition: opacity .3s ease-out;
            transition: opacity .3s ease-out;
}
/* END OF BASE STYLES */

/* MAIN STYLES */
.header {
    height: 100px;
    text-align: center;
    font-size: 36px;
    padding: 30px 0;
    cursor: default;
}

.content {
    min-height: 575px;
    font-size: 24px;
    text-align: center;
}

.footer {
    height: 300px;
    text-align: center;
    font-size: 72px;
    padding: 115px 0;
    cursor: default;
}

.short-url {
    display: none;
    margin: 50px 0 5px;
    position: relative;
}

.tool-tip {
    width: 100px;
    display: none;
    height: 25px;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px 0;
    margin: 0 auto;
    cursor: default;
    border-radius: 10px;
    font-weight: bold;
}

.result {
    display: none;
    background: #eee;
    height: 50px;
    min-width: 350px;
    max-width: 550px;
    margin: 0 auto;
    padding: 10px 2px;
    border-radius: 10px;
    border: 1px solid #e2534b;
    cursor: pointer;
}